body {
    --bs-body-bg: #{$white};
    --bs-body-color: #{$black};
    margin: 0;
    padding: 0;
}

a {
    text-decoration: underline;
    cursor: pointer;
    color: $yellow;
}

.text-dark {
    color: $black!important;
}

textarea {
    resize: none;
}

.mw-64 {
    min-width: 4rem;
}
